{% extends 'admin/admin.html.twig' %}

{% block title "Recette : " ~ recipe.title %}

{% block body %}
    <h1>{{ recipe.title }}</h1>

    <img src="/images/recipes/{{ recipe.thumbnail }}" alt="manual_img">
    <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="vich_img">

    {{ form(form) }}
{% endblock %}
